notifications:
  email: false
language: ruby
sudo: false
rvm:
  - 2.3.0

matrix:
  include:
    - rvm: 2.2.4
      env: "RAILS_VERSION=4.1.14"

before_install:
  - gem install bundler

env:
 - "RAILS_VERSION=4.2.6"

notifications:
  irc: "irc.freenode.org#blacklight"
  email:
      - blacklight-commits@googlegroups.com

global_env:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true

