@import 'leaflet';
@import 'MarkerCluster';
@import 'MarkerCluster.Default';
//@import 'leaflet.markercluster';
//@import 'leaflet.markercluster.default';

body.blacklight-catalog-map {

  #map_leader_text {
    margin-bottom: 10px;
  }

  .view-type {
    display:none;
  }

}

.view-icon-maps {
  &:before { content: "\e135"; } 
}

#sortAndPerPage {

  .page_links {

    .mapped-count {
      margin-left: 7px;
      color: dimgray;
    }

    .mapped-caveat {
      margin-left: 7px;
      font-size: 12px;
      color: darkgray;
    }

  }

}

#documents {

  #blacklight-index-map {
    height: 550px;
    margin: 10px 0;

    & ~ div.record-padding {

      div.pagination {
        display: none;
      }

    }

  }

}

#document #blacklight-show-map {
  height: 300px;
}

.mapped-count .badge {
  vertical-align: text-bottom;
}

a.leaflet-bar-part.search-control {
  cursor: pointer;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

  #sortAndPerPage {

    .page_links {
      width: 75%;
      padding: 0 12px 0 0;

      .mapped-caveat {
        margin-left: 0;
        float: left;
      }

    }

  }

}

