/*
*= require leaflet
*= require leaflet.markercluster
*= require leaflet.markercluster.default
*= require L.Control.Sidebar.css
*/

.view-icon-maps {
  &:before { content: "\e135"; } 
}

#blacklight-map{
  height: 550px;
}

.badge.mapped-count {
  margin-left: 8px;
  vertical-align: text-bottom;
}

.sidebar-thumb{
  height: 64px;
  width: 64px;
}

.sidebar-list{
  padding-left: 0;
  list-style: none;
}