@import 'leaflet';
@import 'leaflet.markercluster';
@import 'leaflet.markercluster.default';

body.blacklight-catalog-map {

  #map_leader_text {
    margin-bottom: 10px;
  }

  #sortAndPerPage {

    #sort-dropdown, #per_page-dropdown {
      display:none;
    }

  }

}

.view-icon-maps {
  &:before { content: "\e135"; } 
}

#documents {

  #blacklight-index-map {
    height: 550px;
    margin-top: 10px;

    & ~ div.record-padding {

      #pagination_links {
        display: none;
      }

    }

  }

  .badge.mapped-count {
    margin-left: 8px;
  }

}

#document #blacklight-show-map {
  height: 300px;
}

.badge.mapped-count {
  vertical-align: text-bottom;
}
