@import 'leaflet';
@import 'leaflet.markercluster';
@import 'leaflet.markercluster.default';
@import 'L.Control.Sidebar';

.view-icon-maps {
  &:before { content: "\e135"; } 
}

#documents #blacklight-map {
  height: 550px;
  margin-top:10px;

  & ~ div.record-padding {

    #pagination_links {
      display: none;
    }

  }

}

.badge.mapped-count {
  margin-left: 8px;
  vertical-align: text-bottom;
}

.sidebar-thumb{
  height: 64px;
  width: 64px;
}

.sidebar-list{
  padding-left: 0;
  list-style: none;
}