<% # container for all documents in map view -%>
<div id="documents" class="map">
  <%= blacklight_map_tag('blacklight-map') %>
  <div id="blacklight-map-sidebar"></div>
  <%= javascript_tag "$('#blacklight-map').blacklight_leaflet_map(#{serialize_geojson});" %>
</div>
