<% # container for all documents in map view -%>
<div id="documents" class="map">
  <%= show_map_div() %>
  <div id="blacklight-map-sidebar"></div>
  <%= javascript_tag "var geojson_docs = #{serialize_geojson}" %>
</div>