<%= blacklight_map_tag('blacklight-map', {data:{viewpoint: set_viewpoint(geojson_features)}}) %>
<div id="blacklight-map-sidebar"></div>
<%= javascript_tag "$('#blacklight-map').blacklight_leaflet_map(#{geojson_features});" %>