<% # content for the popup for a point feature - run a new search for this location -%>
<h5 class="geo_facet_heading">
  <%= render_geo_facet_heading(geojson_hash) %> <%= content_tag(:small, pluralize(hits,"item")) if hits %>
</h5>
<%= link_to_placename_facet(geo_facet_value(geojson_hash),
                            blacklight_config.view.maps.placename_facet_field,
                            t('blacklight.maps.leaflet.facet_search')) %>