<% # map for catalog#show view %>
<div id="blacklight-show-map-container">
    <% if @document[blacklight_config.view.maps.geojson_field.to_sym] || @document[blacklight_config.view.maps.coordinates_field.to_sym] %>
        <% geojson_features = serialize_geojson(@document) %>
        <%= blacklight_map_tag('blacklight-show-map',
                               {data:{viewpoint: set_viewpoint(geojson_features),
                                      initialzoom:blacklight_config.view.maps.show_initial_zoom,
                                      singlemarkermode:false}}) %>
        <%= javascript_tag "$('#blacklight-show-map').blacklight_leaflet_map(#{geojson_features});" %>
    <% end %>
</div>